body {
  font-family: Lucida Grande,Arial,Helvetica,sans-serif; }

a {
  text-decoration: none !important; }

p.button:hover {
  background: -moz-linear-gradient(top, #ffd866, #ff7e00);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd866), to(#ff7e00)); }

p.button {
  display: table;
  padding: 10px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background: -moz-linear-gradient(center top, #fbc011, #ff7e00);
  background: -webkit-gradient(linear, left top, left bottom, from(#fbc011), to(#ff7e00));
  text-shadow: 0 -1px 0 #c58c0b; }
  p.button a {
    font-weight: normal;
    color: #fff; }

blockquote {
  margin: 1em 0;
  padding: 0 0 0 50px;
  background: transparent url(/images/quote.png) no-repeat 0 0;
  text-align: left;
  font-style: italic; }

div#menu {
  margin: 45px 0 0 0;
  text-align: right; }
  div#menu a {
    font-weight: normal;
    color: #fff;
    background-color: #6b6b6b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 0.8em;
    padding: 2px 20px; }

div#header {
  margin: 30px auto; }
  div#header div#logo h1 a {
    display: block;
    background: white url("/images/logo.png") no-repeat;
    height: 82px;
    font-size: 0px; }

div#banner {
  background: white url(/images/bg_header.png) repeat-x;
  margin-bottom: 15px;
  padding: 15px; }
  div#banner p {
    font-weight: bold;
    line-height: 25px;
    color: #478323;
    font-size: 1.1em;
    margin-bottom: 15px; }
    div#banner p strong {
      font-size: 1.3em;
      font-weight: bold; }
    div#banner p.highlight {
      font-size: 1.4em;
      line-height: 38px;
      color: #737373;
      margin-bottom: 20px; }

div#content {
  color: #737373; }
  div#content h3 {
    margin: 15px 0;
    padding: 8px 0;
    border-bottom: 2px solid #D1F2A5;
    font-size: 2em; }
  div#content p {
    margin-top: 20px;
    line-height: 22px; }
  div#content ul {
    margin-top: 20px; }
    div#content ul li {
      width: 180px;
      float: left;
      padding-left: 70px;
      margin: 0 20px 40px 0;
      min-height: 90px;
      line-height: 22px; }
      div#content ul li a {
        text-decoration: underline !important;
        color: #3BA3D0; }
      div#content ul li.accept {
        background: white url("/images/icons/accept.png") no-repeat; }
      div#content ul li.notes-edit {
        background: white url("/images/icons/notes_edit.png") no-repeat; }
      div#content ul li.phone-book-search {
        background: white url("/images/icons/phone_book_search.png") no-repeat; }
      div#content ul li.news {
        background: white url("/images/icons/news.png") no-repeat; }
      div#content ul li.users {
        background: white url("/images/icons/users.png") no-repeat; }
      div#content ul li.mail-open {
        background: white url("/images/icons/mail_open.png") no-repeat; }
      div#content ul li.process-accept {
        background: white url("/images/icons/process_accept.png") no-repeat; }
      div#content ul li.light-bulb {
        background: white url("/images/icons/light_bulb.png") no-repeat; }
      div#content ul li.photo {
        background: white url("/images/icons/photo.png") no-repeat; }

div#footer {
  margin-top: 25px;
  background-image: url("/images/bg_footer.jpg"); }
  div#footer div#footer-top {
    width: 100%;
    margin: 0;
    height: 29px;
    background-image: url("/images/top_footer.jpg"); }
  div#footer div.twitter, div#footer div.siteforte {
    text-align: center; }
    div#footer div.twitter a, div#footer div.siteforte a {
      color: #C6DCB9; }
    div#footer div.twitter p, div#footer div.siteforte p {
      margin: 20px; }
  div#footer div.address, div#footer div.siteforte {
    font-size: 0.6em;
    line-height: 13px;
    color: #FFF; }
    div#footer div.address a, div#footer div.siteforte a {
      color: #C9F76F; }
    div#footer div.address p, div#footer div.siteforte p {
      margin: 20px 0; }
