body {
  font-family: Lucida Grande,Arial,Helvetica,sans-serif;
}

a {
  text-decoration: none !important;
}

p.button:hover {
  background: -moz-linear-gradient(top, #FFD866, #FF7E00);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFD866), to(#FF7E00));
}

p.button {
  display: table;
  padding: 10px 20px;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px;
  background: -moz-linear-gradient(center top , #FBC011, #FF7E00);
  background: -webkit-gradient(linear, left top, left bottom, from(#FBC011), to(#FF7E00));
  text-shadow: 0 -1px 0 #C58C0B;

  a {
    font-weight: normal;
    color: #fff;
  }
}

blockquote {
  margin: 1em 0;
  padding: 0 0 0 50px;
  background: transparent url(/images/quote.png) no-repeat 0 0;
  text-align: left;
  font-style: italic;
}

div#menu {
  margin: 45px 0 0 0;
  text-align: right;
  
  a {
    font-weight: normal;
    color: #fff;
    background-color: #6b6b6b;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    font-size: 0.8em;
    padding: 2px 20px;
  }
}

div#header {
  margin: 30px auto;

  div#logo {
    h1 {
      a {      
        display: block;
        background: #FFF url("/images/logo.png") no-repeat;
        height: 82px;
        font-size: 0px;
      }
    }
  }
}

div#banner {
  background: #FFFFFF url(/images/bg_header.png) repeat-x;
  margin-bottom: 15px;
  padding: 15px;

  p {
    font-weight: bold;
    line-height: 25px;
    color: #478323;
    font-size: 1.1em;
    margin-bottom: 15px;
    
    strong {
      font-size: 1.3em;
      font-weight: bold;
    }

    &.highlight {
      font-size: 1.4em;
      line-height: 38px;
      color: #737373;
      margin-bottom: 20px;
    }
  }
}

div#content {
  color: #737373;
  
  h3 {
    margin: 15px 0;
    padding: 8px 0;
    border-bottom: 2px solid #D1F2A5;
    font-size: 2em; 
  }
  
  p {
    margin-top: 20px;
    line-height: 22px;
  }

  ul {
    margin-top: 20px;
  
    li {
      width:180px;
      float: left;
      padding-left: 70px;
      margin: 0 20px 40px 0;
      min-height: 90px;
      line-height: 22px;
      
      a {
        text-decoration: underline !important;
        color: #3BA3D0;
      }
      
      &.notes-edit {
        background: #FFF url("/images/icons/notes_edit.png") no-repeat;
      }

      &.phone-book-search {
        background: #FFF url("/images/icons/phone_book_search.png") no-repeat;
      }

      &.news {
        background: #FFF url("/images/icons/news.png") no-repeat;
      }

      &.users {
        background: #FFF url("/images/icons/users.png") no-repeat;
      }

      &.mail-open {
        background: #FFF url("/images/icons/mail_open.png") no-repeat;
      }
      
      &.process-accept {
        background: #FFF url("/images/icons/process_accept.png") no-repeat;
      }

      &.light-bulb {
        background: #FFF url("/images/icons/light_bulb.png") no-repeat;
      }

      &.photo {
        background: #FFF url("/images/icons/photo.png") no-repeat;
      }
      // http://dryicons.com/free-icons/preview/shine-icon-set/
    }
  }
}

div#footer {
  margin-top: 25px;
  background-image: url("/images/bg_footer.jpg");

  div#footer-top {
    width: 100%;
    margin: 0;
    height: 29px;
    background-image: url("/images/top_footer.jpg");
  }

  div.twitter, div.siteforte {
    text-align: center;
    a {
      color: #C6DCB9;
    }
    p {
      margin: 20px;
    }
  }  

  div.address, div.siteforte {
    font-size: 0.6em;
    line-height: 13px;
    color: #FFF;
    a {
      color: #C9F76F;
    }
    p {
      margin: 20px 0;
    }
  }
}