body {
  font-family: Lucida Grande,Arial,Helvetica,sans-serif; }

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  line-height: 45px; }

h3 {
  font-size: 1.3em;
  font-weight: bold;
  color: #5D923C;
  margin-bottom: 15px; }

.center {
  text-align: center; }

.right {
  text-align: right; }

a {
  text-decoration: none; }

div.button:hover {
  background: #FF7E00;
  background: -moz-linear-gradient(top, #ffd866, #ff7e00);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd866), to(#ff7e00)); }

div.button {
  display: table;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #4B810A;
  background: -moz-linear-gradient(center top, #4b810a, #224c0c);
  background: -webkit-gradient(linear, left top, left bottom, from(#4b810a), to(#224c0c));
  border: 4px solid #2F5B0B;
  text-shadow: 0 1px 3px #C58C0B;
  width: 100%; }
  div.button p {
    margin: 0 !important;
    line-height: 20px !important;
    font-weight: normal !important;
    color: #fff; }
    div.button p.line1 {
      letter-spacing: 0.28em;
      font-size: 0.6em !important; }
    div.button p.line2 {
      font-size: 1.5em !important; }
  div.button img {
    float: left;
    margin-right: 10px; }

div.big p {
  letter-spacing: 0.22em;
  padding: 8px 0;
  text-align: center; }

blockquote {
  color: #fff;
  margin: 1em;
  padding: 20px;
  background: transparent url(/images/bg_quote.png) no-repeat 0 0;
  text-align: left;
  line-height: 22px;
  font-size: 0.9em; }
  blockquote div {
    font-style: italic;
    text-align: right;
    font-size: 0.8em; }

div#menu {
  margin: 45px 0 0 0;
  text-align: right; }
  div#menu a {
    font-weight: normal;
    color: #fff;
    background-color: #6b6b6b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 0.8em;
    padding: 2px 20px; }

div#header {
  margin: 15px auto; }
  div#header div#logo h1 a {
    display: block;
    background: white url("/images/logo.png") no-repeat;
    height: 60px;
    font-size: 0px; }

div#banner-under {
  background: white url(/images/bg_middle_header.jpg);
  padding: 25px 0 0 0; }
  div#banner-under p {
    line-height: 20px;
    font-size: 0.8em;
    margin-bottom: 15px; }

div.inner {
  height: 250px !important; }

div.mini {
  height: 50px !important; }

div#banner {
  background: white url(/images/bg_header.jpg) repeat-x;
  padding-top: 30px;
  display: block;
  height: 383px; }
  div#banner p {
    font-weight: bold;
    line-height: 25px;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 15px; }
    div#banner p strong {
      font-size: 1.3em;
      font-weight: bold; }

div#static {
  line-height: 30px; }
  div#static p {
    margin: 20px 0; }
  div#static ul {
    list-style-type: disc;
    margin: 0 0 20px 40px; }

div#content {
  padding: 25px 0 0 0; }
  div#content p {
    margin: 20px 0;
    line-height: 22px; }
  div#content ul li {
    float: left;
    margin: 0 20px 40px 0;
    line-height: 20px;
    font-size: 0.8em; }
  div#content ul.internal-highlights img {
    float: left; }
  div#content ul.internal-highlights li {
    width: 450px; }
  div#content ul.home-highlights li {
    width: 140px;
    padding-left: 70px;
    min-height: 90px; }
    div#content ul.home-highlights li a {
      text-decoration: underline !important;
      color: #3BA3D0; }
    div#content ul.home-highlights li.notes-edit {
      background: white url("/images/icons/notes_edit.png") no-repeat; }
    div#content ul.home-highlights li.phone-book-search {
      background: white url("/images/icons/phone_book_search.png") no-repeat; }
    div#content ul.home-highlights li.news {
      background: white url("/images/icons/news.png") no-repeat; }
    div#content ul.home-highlights li.users {
      background: white url("/images/icons/users.png") no-repeat; }
    div#content ul.home-highlights li.mail-open {
      background: white url("/images/icons/mail_open.png") no-repeat; }
    div#content ul.home-highlights li.process-accept {
      background: white url("/images/icons/process_accept.png") no-repeat; }
    div#content ul.home-highlights li.light-bulb {
      background: white url("/images/icons/light_bulb.png") no-repeat; }
    div#content ul.home-highlights li.photo {
      background: white url("/images/icons/photo.png") no-repeat; }

div#under-footer {
  padding: 10px 0;
  background-image: url("/images/bg_lower_footer.jpg"); }
  div#under-footer a {
    color: #fff;
    font-size: 0.6em; }
  div#under-footer div.map div {
    margin-left: 50px; }
    div#under-footer div.map div img {
      float: left;
      margin: 5px 10px 0 0; }
  div#under-footer div.siteforte {
    text-align: center;
    font-size: 0.6em;
    line-height: 13px;
    color: #FFF; }
    div#under-footer div.siteforte p {
      margin: 0; }

div#footer {
  margin-top: 25px;
  background-image: url("/images/bg_footer.jpg"); }
  div#footer div#footer-top {
    width: 100%;
    margin: 0;
    height: 29px;
    background-image: url("/images/top_footer.jpg"); }
  div#footer div.twitter {
    text-align: center; }
    div#footer div.twitter a {
      color: #FFF; }
    div#footer div.twitter p {
      margin: 20px; }
