@font-face {
  font-family: Arvo;
  font-weight: bold;
  src: url("/fonts/Arvo-Bold.ttf");
}

/* line 3, ../_sass/color.scss */
body {
  font-family: Lucida Grande,Arial,Helvetica,sans-serif;
}

/* line 7, ../_sass/color.scss */
h2 {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  line-height: 45px;
}

/* line 14, ../_sass/color.scss */
h3 {
  font-size: 1.3em;
  font-weight: bold;
  color: #5D923C;
  margin-bottom: 15px;
}

/* line 21, ../_sass/color.scss */
.center {
  text-align: center;
}

/* line 25, ../_sass/color.scss */
.right {
  text-align: right;
}

/* line 29, ../_sass/color.scss */
a {
  text-decoration: none;
}

/* line 33, ../_sass/color.scss */
div.button:hover {
  background: #FF7E00;
  background: -moz-linear-gradient(top, #ffd866, #ff7e00);
  background: -webkit-gradient(linear, left top, left bottom, from(#ffd866), to(#ff7e00));
}

/* line 39, ../_sass/color.scss */
div.button {
  display: table;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #4B810A;
  background: -moz-linear-gradient(center top, #4b810a, #224c0c);
  background: -webkit-gradient(linear, left top, left bottom, from(#4b810a), to(#224c0c));
  border: 4px solid #2F5B0B;
  text-shadow: 0 1px 3px #C58C0B;
  width: 100%;
}
/* line 54, ../_sass/color.scss */
div.button p {
  margin: 0 !important;
  line-height: 20px !important;
  font-weight: normal !important;
  color: #fff;
  text-align: center;
}
/* line 61, ../_sass/color.scss */
div.button p.line1 {
  letter-spacing: 0.28em;
  font-size: 0.6em !important;
}
/* line 66, ../_sass/color.scss */
div.button p.line2 {
  font-size: 1.5em !important;
}
/* line 71, ../_sass/color.scss */
div.button img {
  float: left;
  margin-right: 10px;
}

/* line 78, ../_sass/color.scss */
div.big p {
  letter-spacing: 0.22em;
  padding: 8px 0;
  text-align: center;
}

/* line 85, ../_sass/color.scss */
blockquote {
  color: #fff;
  margin: 1em;
  padding: 20px;
  background: transparent url(/images/bg_quote.png) no-repeat 0 0;
  text-align: left;
  line-height: 22px;
  font-size: 0.9em;
}
/* line 94, ../_sass/color.scss */
blockquote div {
  font-style: italic;
  text-align: right;
  font-size: 0.8em;
}

/* line 101, ../_sass/color.scss */
div#menu {
  margin: 45px 0 0 0;
  text-align: right;
}
/* line 105, ../_sass/color.scss */
div#menu a {
  font-weight: normal;
  color: #fff;
  background-color: #6b6b6b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 0.8em;
  padding: 2px 20px;
}

/* line 116, ../_sass/color.scss */
div#header {
  margin: 15px auto;
}
/* line 121, ../_sass/color.scss */
div#header div#logo h1 a {
  display: block;
  background: white url("/images/logo.png") no-repeat;
  height: 60px;
  font-size: 0px;
}
/* line 129, ../_sass/color.scss */
div#header div#logo-center {
  width: 100%;
}
/* line 133, ../_sass/color.scss */
div#header div#logo-center h1 a {
  margin: 0 auto;
  display: block;
  background: white url("/images/logo.png") no-repeat;
  width: 233px;
  height: 60px;
  font-size: 0px;
}

/* line 145, ../_sass/color.scss */
div#banner-under {
  background: white url(/images/bg_middle_header.jpg);
  padding: 25px 0 0 0;
}
/* line 149, ../_sass/color.scss */
div#banner-under p {
  line-height: 20px;
  font-size: 0.8em;
  margin-bottom: 15px;
}

/* line 156, ../_sass/color.scss */
div.inner {
  height: 250px !important;
}

/* line 160, ../_sass/color.scss */
div.mini {
  height: 50px !important;
}

/* line 164, ../_sass/color.scss */
div#banner {
  background: white url(/images/bg_header.jpg) repeat-x;
  padding-top: 30px;
  display: block;
  height: 383px;
}
/* line 170, ../_sass/color.scss */
div#banner p {
  font-weight: bold;
  line-height: 25px;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 15px;
}
/* line 177, ../_sass/color.scss */
div#banner p strong {
  font-size: 1.3em;
  font-weight: bold;
}

/* line 184, ../_sass/color.scss */
div#static {
  line-height: 30px;
}
/* line 187, ../_sass/color.scss */
div#static p {
  margin: 20px 0;
}
/* line 191, ../_sass/color.scss */
div#static ul {
  list-style-type: disc;
  margin: 0 0 20px 40px;
}

/* line 197, ../_sass/color.scss */
div#content {
  padding: 25px 0 0 0;
}
/* line 200, ../_sass/color.scss */
div#content p {
  margin: 20px 0;
  line-height: 22px;
}
/* line 206, ../_sass/color.scss */
div#content ul li {
  float: left;
  margin: 0 20px 40px 0;
  line-height: 20px;
  font-size: 0.8em;
}
/* line 215, ../_sass/color.scss */
div#content ul.internal-highlights img {
  float: left;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #CCC;
}
/* line 222, ../_sass/color.scss */
div#content ul.internal-highlights li {
  width: 450px;
}
/* line 228, ../_sass/color.scss */
div#content ul.home-highlights li {
  width: 200px;
  padding-left: 80px;
  min-height: 100px;
}
/* line 233, ../_sass/color.scss */
div#content ul.home-highlights li a {
  text-decoration: underline !important;
  color: #3BA3D0;
}
/* line 238, ../_sass/color.scss */
div#content ul.home-highlights li.notes-edit {
  background: white url("/images/icons/notes_edit.png") no-repeat;
}
/* line 242, ../_sass/color.scss */
div#content ul.home-highlights li.phone-book-search {
  background: white url("/images/icons/phone_book_search.png") no-repeat;
}
/* line 246, ../_sass/color.scss */
div#content ul.home-highlights li.news {
  background: white url("/images/icons/news.png") no-repeat;
}
/* line 250, ../_sass/color.scss */
div#content ul.home-highlights li.users {
  background: white url("/images/icons/users.png") no-repeat;
}
/* line 254, ../_sass/color.scss */
div#content ul.home-highlights li.mail-open {
  background: white url("/images/icons/mail_open.png") no-repeat;
}
/* line 258, ../_sass/color.scss */
div#content ul.home-highlights li.process-accept {
  background: white url("/images/icons/process_accept.png") no-repeat;
}
/* line 262, ../_sass/color.scss */
div#content ul.home-highlights li.light-bulb {
  background: white url("/images/icons/light_bulb.png") no-repeat;
}
/* line 266, ../_sass/color.scss */
div#content ul.home-highlights li.photo {
  background: white url("/images/icons/photo.png") no-repeat;
}
/* line 270, ../_sass/color.scss */
div#content ul.home-highlights li.chart {
  background: white url("/images/icons/chart.png") no-repeat;
}

/* line 279, ../_sass/color.scss */
div#plans div#plans-wrapper {
  padding-left: 95px;
}
/* line 283, ../_sass/color.scss */
div#plans h1 {
  font-family: "Helvetica Neue", Lucida Grande, Helvetica, Arial, "Sans Serif";
  font-size: 2.5em;
  text-align: center;
  letter-spacing: -2px;
  font-weight: normal;
  text-shadow: white 0px 1px 0px;
}
/* line 291, ../_sass/color.scss */
div#plans h2 {
  font-family: "Helvetica Neue", Lucida Grande, Helvetica, Arial, "Sans Serif";
  font-size: 1.5em;
  text-align: center;
  font-weight: normal;
  text-shadow: white 0px 1px 0px;
  color: #000;
}
/* line 301, ../_sass/color.scss */
div#plans div.plan {
  background: #f8f8f8 url("/images/plans/bkg-gray.jpg") repeat-x bottom left;
  border: 2px solid white;
  position: relative;
  float: left;
  width: 250px;
  overflow: hidden;
  z-index: 100;
}
/* line 302, ../_sass/color.scss */
div#plans div.plan h3 {
  font-size: 1.1em;
  margin: 3px;
  font-family: Arvo;
  color: #FFF;
}
/* line 308, ../_sass/color.scss */
div#plans div.plan h4 {
  font-size: 1.6em;
  font-family: Arvo;
}
/* line 311, ../_sass/color.scss */
div#plans div.plan h4 span {
  font-size: 0.6em;
}
/* line 315, ../_sass/color.scss */
div#plans div.plan h5 {
  color: #333;
  font-size: 1.6em;
  margin: 0;
  padding: 0 0px 10px 10px;
  border-bottom: 1px solid black;
  font-family: Arvo;
}
/* line 323, ../_sass/color.scss */
div#plans div.plan div.header {
  color: white;
  text-align: center;
  padding: 18px 0px;
  background: #CCC;
  text-shadow: black 0px 1px 0px;
}
/* line 331, ../_sass/color.scss */
div#plans div.plan div.content {
  padding: 20px 10px 0;
}
/* line 334, ../_sass/color.scss */
div#plans div.plan div.content ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 338, ../_sass/color.scss */
div#plans div.plan div.content ul li {
  float: none;
  color: #333;
  font-size: 0.9em;
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid #B6B6B6;
}
/* line 349, ../_sass/color.scss */
div#plans div.plan a.signup {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 10px;
  margin: 10px 40px 20px;
  background: #ff8f00 url(/images/plans/btn-submitForward.jpg) repeat-x top left;
  border-bottom: 1px solid #999;
  border-radius: 5px;
  text-shadow: #333 0px 1px 0px;
  font-family: Arvo;
}
/* line 367, ../_sass/color.scss */
div#plans div.plan.customer div.header {
  background: #f2b827 url("/images/plans/bkg-yellow.jpg") repeat-x bottom left;
}
/* line 373, ../_sass/color.scss */
div#plans div.plan.sales div.header {
  background: #f3742f url("/images/plans/bkg-orange.jpg") repeat-x bottom left;
}
/* line 378, ../_sass/color.scss */
div#plans div.plan.all {
  margin: -10px -10px 0px;
  border: 5px solid white;
  position: relative;
  z-index: 200;
  -moz-box-shadow: 0px 5px 25px #000000;
  -webkit-box-shadow: 0px 5px 25px #000000;
  box-shadow: 0px 5px 25px #000000;
}
/* line 379, ../_sass/color.scss */
div#plans div.plan.all div.header {
  background: #187fc0 url("/images/plans/bkg-blue.jpg") repeat-x bottom left;
}

/* line 401, ../_sass/color.scss */
div#under-footer {
  padding: 10px 0;
  background-image: url("/images/bg_lower_footer.jpg");
}
/* line 405, ../_sass/color.scss */
div#under-footer a {
  color: #fff;
  font-size: 0.6em;
}
/* line 411, ../_sass/color.scss */
div#under-footer div.map div {
  margin-left: 50px;
}
/* line 414, ../_sass/color.scss */
div#under-footer div.map div img {
  float: left;
  margin: 5px 10px 0 0;
}
/* line 421, ../_sass/color.scss */
div#under-footer div.siteforte {
  text-align: center;
  font-size: 0.6em;
  line-height: 13px;
  color: #FFF;
}
/* line 427, ../_sass/color.scss */
div#under-footer div.siteforte p {
  margin: 0;
}

/* line 433, ../_sass/color.scss */
div#footer {
  margin-top: 25px;
  background-image: url("/images/bg_footer.jpg");
}
/* line 437, ../_sass/color.scss */
div#footer div#footer-top {
  width: 100%;
  margin: 0;
  height: 29px;
  background-image: url("/images/top_footer.jpg");
}
/* line 444, ../_sass/color.scss */
div#footer div.twitter {
  text-align: center;
}
/* line 446, ../_sass/color.scss */
div#footer div.twitter a {
  color: #FFF;
}
/* line 449, ../_sass/color.scss */
div#footer div.twitter p {
  margin: 20px;
}
