<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt-br">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>CRM. {{ page.title }} Gestão de Relacionamento para Empresas e Profissionais Liberais. Clientela.</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/960.css">
<link rel="stylesheet" type="text/css" href="/css/color.css">
</head>
<body>
<div id="header" class="container_12">
  <div id="logo" class="grid_6">
    <h1><a href="/">Gestão de Relacionamento para Empresas e Profissionais Liberais.</a></h1>
  </div>

  <div class="grid_1">
    &nbsp;
  </div>

  <div id="menu" class="grid_5">
    <!-- a href="#conheca">O que fazemos?</a>
    <a href="#planos">Planos</a>
    <a href="/blog">Blog</a -->
  </div>
  <div class="clear">&nbsp;</div>
</div>

<div id="banner" class="mini">
<div class="container_12">
  <div class="grid_12">
    <h2>{{ page.header_title }}</h2>
  </div>
  <div class="clear">&nbsp;</div>
</div>
</div>

<div id="static" class="container_12">
  <div class="grid_12">
    {{ content }}
  </div>
  <div class="clear">&nbsp;</div>
</div>

<div id="footer">
  <div id="footer-top">
    &nbsp;
  </div>
  <div class="container_12">
    <div class="grid_4">      
      <blockquote><p>O primeiro software que realmente me agradou pela sua facilidade de uso e pelo potencial de crescimento.</p><div>Josir Gomes</div></blockquote>
    </div>
    <div class="grid_4">
      <blockquote><p>Ele é simples e direto no modo de pensar e organizar o trabalho da área comercial.</p><div>Felipe Gabriel</div></blockquote>
    </div>
    <div class="grid_4 twitter">
      <br/>
      <p>
        <a href="http://twitter.com/clientela"><img src="images/twitter.gif"/><br/>Siga o Clientela no Twitter!</a>
      </p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
</div>

<div id="under-footer">
  <div class="container_12">
    <div class="grid_4">
      <a href="http://helabs.com.br">
        <img src="/images/logo_helabs_rodape.png"/><br/>
        Clientela é um serviço de Helabs Tecnologia Ltda.
      </a>
    </div>
    <div class="grid_4 map">
      <div>
      <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Av.+Pres.+Vargas,+633+-+Centro,+Rio+de+Janeiro+-+RJ,+20071-004,+Brasil&aq=0&sll=37.996163,-95.712891&sspn=33.869615,79.013672&ie=UTF8&hq=&hnear=Av.+Pres.+Vargas,+633+-+Centro,+Rio+de+Janeiro,+20071-004,+Brazil&ll=-22.902526,-43.181484&spn=0.010219,0.01929&t=h&z=16">
        <img src="/images/icone_endereco_rodape.png" />
        Av. Pres. Vargas, 633, Sala 1716<br/>
        Rio de Janeiro, RJ.<br/>
        21 2507-5307
      </a>
      </div>
    </div>
    <div class="grid_4 siteforte">
      <p>
        <a target="_blank" href="https://siteforte.com.br/certificado/clientela.com.br?utm_source=clientela.com.br&utm_medium=selo_light&utm_term=siteforte&utm_campaign=permanente"><img style="border:none;" title="Auditoria de segurança para serviços online com transações financeiras e informações confidenciais :: SITEFORTE - Segurança Digital" src="https://siteforte.com.br/selos/139_clientelacombr.png"></a><br/>
        Nossos servidores são auditados diariamente.
      </p>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16326763-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
document.write(unescape("%3Cscript src='" + ((document.location.protocol=="https:")?"https://snapabug.appspot.com":"http://www.snapengage.com") + "/snapabug.js' type='text/javascript'%3E%3C/script%3E"));</script><script type="text/javascript">
SnapABug.setLocale("pt");
SnapABug.init("7155fbc7-3140-4272-8f90-d3276a675767");
</script>
</body>
</html>